<br><br>
<center><%= image_tag "logo.png" %></center><br>
<div id="search_tweets">
<% form_remote_tag(:url => {:action => 'search_and_format'},
    :update => "search_results", :position => :bottom) do %>
<div class="search-text">enter tweet url </div><div class="searchboxdiv"><input id="search" name="search" type="text" class="searchbox"></div>
<div class="submitdiv"><%= submit_tag 'Go!' %></div>
<% end %>
</div>
<div class="tag"><center>Easily quote tweets on your website or blog.</center></div>
<div class="tweetbox"><div id="search_results"></div></div>
